<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Profesores y Materias</title>
  </head>
  <body>
    <h1>Profesores y sus Materias Asociadas</h1>
    <% profesores.forEach(function(profesor) { %>
    <h2><%= profesor.nombre %></h2>
    <ul>
      <% profesor.materias.forEach(function(materia) { %>
      <li><%= materia.nombre %> (<%= materia.codigo %>)</li>
      <% }); %>
    </ul>
    <% }); %>
  </body>
</html>
